@model EF_CodeFirst_Kursverwaltung.Models.Kurs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kurs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Starttermin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Starttermin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dauer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dauer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
